.palette-list-container {
    /* border: solid 2px purple; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 75px;
    /* column-gap: 50px; */
    border: solid 2px yellowgreen;
}