html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  background: #DEDEDE;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}
.container-center{
  padding: 20px;
  text-align: center;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: black;
  border-width: 2px 2px 4px;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  margin-top: 15px;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #000000;
  text-decoration: none;
  color:white;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0px;
  border-bottom: 4px solid black;
  border-radius: 0;
  background: none;
  font: inherit;
  font-weight: 700;
  padding: .5em;
  color: rgba(0, 0, 0, 0.92);
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #a360fa;
  color: #a360fa;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
  /* border: solid 4px lime; */
  text-align: center;
}

input {
  margin: 10px;
  margin-bottom: 20px;
}
