.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px;
  background-color: grey;
  border: solid green 2px;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 0.2em;
  color: black;
  padding: .3em 1em;
  margin: 0;
  border: solid pink 2px;
}
.link-container {
  /* border: solid 2px blue; */
  display: flex;
}

.navLink {
  display: inline-block;
  color: black;
  background-color: none;
  text-align: center;
  padding: 24px 30px;
  text-decoration: none;
  font-size: 21px;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  border: none;
  letter-spacing: .07em;

  /* these last two make the logout button in
  the nav bar look like another link */
  /* border: solid 2px red; */
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  border-bottom: 4px solid black;
  color: black;
}
.log-out-nav {
  background: none;

}
